/.DS_Store
/1.FOTO.png
/2.FOTO.png
/EY SCHINOOO.sqbpro
/GÜZEKL SORU.png
/GÜZELSORUÇÖZÜMÜ.png
/JOIN ÇÖZÜM 1.png
/SORU 2 İÇİN DAHA NET ÇÖZÜM.png
/SQL ÇALIŞMA DÜZENİ.png
/SQL ÇÖZÜM 2.png
/SQL JOIN ÇOK ÖNEMLİ SORU 1.png
/SQL SORU 2 LEFT JOIN.png
/SQL SORU VE ÇÖZÜM 4.SORU İÇİN.png
/acar.sql